body{
    color: black;
    font-size: 12px;
    background-color: white;
}

#header{
    color: white;
    font-size: 20px;
    background-color: pink;
    padding: 25px;
    width: 950px;
    float: left;
}

#main{
    color: black;
    font-size: 12px;
    background-color: white;
    width: 765px;
    height: 450px;
    float: left;
    border: 2px solid pink;
}

#sidebar{
    color: black;
    font-size: 12px;
    background-color: gray;
    padding: 15px;
    padding-bottom:0px;
    width: 200px;
    height: 450px;
    float: left;
    align-content: center;
}

#sidebar ul li {
    display: block;
    width: 50%;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid black;

}

.wrapper{
    width: 1000px;
}

.class{
  display: inline;
}

#commentForm {
  display: none;
}
