<html>
<head> Please fill out this survey to improve user experience. </head>

<body>

  <title>Tania's Blog</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href= "/resources/tania2.css">
  <link rel="stylesheet" href= "/resources/survey.css">


  <!-- Navbar (sit on top) -->
  <div class="navbar">

          <a href = ".html"><button class="navbtn">HOME</button></a>
          <a href = ".html"><button class="navbtn">BLOGS</button></a>
          <a href = ".html"><button class="navbtn">PROJECTS</button></a>
          <a href = ".html"><button class="navbtn">EXPERIENCE</button></a>
          <a href = "survey.html"><button class="navbtn">SURVEY</button></a>
  </div>














</body>
</html>
